<h1>Estimate macors<h1>

<p> 
Send us an image and/or a description of a meal an we'll ask AI to estimate how many calroies and macronutrients it contains:
</p>>

<form>
  <label>Image:</label>
  <input type="file">
  </form>
