<h1>Results</h1>


<p>
<%= @the_description %>
</p>

<p>
<img src="<%= @the_image_converted %>"height="200">
</p>

<p>
  <%= simple_format(@result) %>
  </p>


<dl>Protien (g)</dl>

<dl>Fat (g)</dl>

<dl>Total calories</dl>

<dl>Notes</dl>

<a href="/blank_form">Estimate another</a>
