<h1>Results</h1>


<p>
<%= @the_description %>
</p>

<p>
<img src="<%= @the_image %>"height="200">
</p>

<p>
  <%= @result %>
  </p>

<dl>Carbs (g)</dl>

<dl>Protien (g)</dl>

<dl>Fat (g)</dl>

<dl>Total calories</dl>

<dl>Notes</dl>
